#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#homepage {
  border: 1px solid black;
  padding: 0px 15px 0px 15px;
  width: 300px;
}

#searchbar {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

#employeelist {
  margin-bottom: 15px;
}

.employee-item {
  width: 96%;
  height: 85px;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.card {
  width: 50%;
  margin-right: auto;
  font-size: 13px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 15px;
}

.card h2,
.card p {
  margin: 0px;
}
